a {
  color: #0069ff;
}

a:hover {
  color: #1395ff;
}

body {
  position: static;
  height: auto !important;
}

.globalnav {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 44px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.globalnav .content {
  position: relative;
}

.globalnav .logo {
  margin: 18px 0 17px;
  line-height: 1;
  display: inline-block;
  font-weight: bold;
  font-family: "Segoe UI", "Open Sans", Helvetica Neue, sans-serif;
  font-size: 30px;
  color: #0069ff !important;
}

.globalnav .logo span {
  color: #333;
  position: relative;
  left: -10px;
  font-family: Source Code Pro, Courier New, Courier, monospace;
  font-weight: 900;
}

.globalnav .right {
  margin: 24px 0 17px;
  position: absolute;
  top: 0;
  right: 0px;
  width: auto;
}

.globalnav .right a {
  display: inline-block;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  margin-right: 12px;
}

.content {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 12px;
}

.box {
  position: relative;
  max-height: 250px;
  display: inline-block;
  padding: 8px 12px;
  background: #fff;
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 3px rgba(33, 44, 55, 0.2);
  transform: translateY(0);
  transition: all 256ms ease-out;
  border-radius: 2px;
  cursor: pointer;
}

.box:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 7px rgba(33, 44, 55, 0.14);
}

.box:hover.mem .label {
  color: #fff;
  background: #0069ff;
}

.box.event .time {
  font-size: 12px;
  color: #999;
}

.box.event .name {
  font-size: 16px;
  color: #333;
  font-weight: 500;
  height: 60px;
}

.box.event .venue {
  font-size: 12px;
  color: #777;
}

.box.event .price {
  font-size: 13px;
  color: #00ab44;
}

.box.mem .username {
  color: #333;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  margin: 6px 0 10px;
}

.box.mem .label {
  transition: all 128ms linear;
  text-align: center;
  margin: 0 auto;
  display: block;
  color: #777;
}

.box.mem .label.exco {
  border-color: #0069ff;
}

.avatar {
  position: relative;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: #f6f7f8;
}

.avatar .icon {
  position: relative;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 24px;
  color: #aaa;
}

.avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

#memMod .avatar {
  width: 100px;
  height: 100px;
}

#memMod .avatar img {
  width: 100px;
  height: 100px;
}

#memMod h3 {
  margin: 10px 0 0px;
}

#memMod p {
  margin: 4px 0 8px;
}

.dashboard main.content {
  max-width: 1092px;
  margin-top: 80px;
  padding-bottom: 60px;
}

.dashboard .title {
  font-size: 40px;
  font-weight: 100;
  text-align: right;
  margin-bottom: 30px;
}

.dashboard .title .square {
  font-size: 20px;
}

.dashboard .title .label {
  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(to left, #0069ff, #1395ff);
  color: #fff;
}

.dashboard .title span {
  font-size: 22px;
}

.dashboard .sidemenu {
  list-style: none;
  list-style-type: none;
}

.dashboard .sidemenu li {
  list-style-type: none;
}

.dashboard .sidemenu li a {
  display: block;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 3px;
  transition: all 256ms linear;
  color: #333;
}

.dashboard .sidemenu li a:hover {
  box-shadow: -3px 0px 6px rgba(0, 63, 153, 0.1);
  color: #0069ff;
}

.dashboard .sidemenu li a.active {
  background: linear-gradient(to left, #1395ff, #0069ff);
  color: #fff;
}

.dashboard .dashner {
  padding: 12px 20px;
  min-height: 300px;
}

.dashboard .dashner h2 {
  font-size: 28px;
  font-weight: 100;
}

.dashboard .results {
  margin: 40px 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

main.content {
  margin-top: 160px;
  padding-bottom: 60px;
}

main .hero {
  margin: 90px 0;
}

main .hero h1 {
  font-weight: 100;
  font-size: calc(0.5vw + 42px) !important;
  line-height: calc(0.7vw + 48px) !important;
}

main .events {
  margin: 30px 0 !important;
  padding: 0;
}

main .events .column {
  position: relative;
  height: 30px;
  margin: 6px 0;
  min-height: 230px;
  padding: 8px !important;
}

main .events .card {
  padding: 8px 12px;
  display: block;
  background: #fff;
  min-height: 180px;
  height: 100%;
  box-shadow: 0 1px 3px rgba(33, 44, 55, 0.2);
  transform: translateY(0);
  transition: all 256ms ease-out;
  border-radius: 2px;
}

main .events .card:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 7px rgba(33, 44, 55, 0.14);
}

main .events .card:active {
  transform: translateY(1px);
  box-shadow: inset 0 1px 3px rgba(33, 44, 55, 0.1);
}

main .events .card .info {
  display: block;
  position: relative;
  bottom: 0;
}

main .events .card .poster {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 40px;
  background: #fff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

main .events .card .poster img {
  transform: translateY(-50%);
  position: relative;
  top: 50%;
  width: 100%;
  height: auto;
  max-width: 100%;
}

main .events .card .poster .price {
  background-color: #00ab44;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
  box-sizing: border-box;
  padding: 2px 10px;
  position: absolute;
  display: inline-block;
  bottom: 10px;
  right: 10px;
}

main .events .card .time {
  font-size: 12px;
  line-height: 15px;
  color: #1395ff;
  margin: 0;
  font-weight: 300;
}

main .events .card .location {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  color: #666;
  font-weight: 300;
}

main .events .card .eventname {
  margin: 0;
  margin-top: 3px;
  font-size: 19px;
  line-height: 22px;
  overflow: hidden;
  height: 60px;
  color: #333;
}

.eventPage .ui.label {
  vertical-align: middle;
}

.eventPage h1 {
  font-size: 40px;
}

.eventPage h3 {
  font-weight: 100;
  margin: 0 0 12px;
  color: #777;
}

.eventPage .price {
  color: #00ab44;
  font-size: 14px;
  margin: 0 0 9px;
  display: inline-block !important;
}

.eventPage .circular {
  top: 0;
  right: 0;
  position: absolute;
}

.eventPage p {
  margin: 0;
}

.eventPage #desc {
  position: relative;
  padding: 50px 0 80px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #666A73;
  outline: none;
}

.eventPage .eventdate {
  text-align: center;
  max-width: 60px;
  padding: 8px 0;
  box-shadow: 0 2px 4px rgba(33, 44, 55, 0.1);
}

.eventPage .eventdate p {
  margin: 0;
}

.eventPage .eventdate .month {
  font-size: 14px;
  font-weight: 800;
  color: red;
}

.eventPage .eventdate .day {
  font-size: 16px;
  font-weight: 100;
}

.globalfooter {
  padding: 64px 0;
  flex: none;
  color: #969798;
  text-align: center;
  font-size: 13px;
}

.ui.primary.button {
  background: #0069ff;
}

.ui.primary.button:hover {
  background: #1395ff;
}

.ui.primary.button:focus {
  background: #0069ff;
}

.ui.modal {
  box-shadow: 0 0 30px rgba(162, 208, 255, 0.577);
}

widget {
  font-family: 'Lato', sans-serif !important;
  filter: drop-shadow(1px 1px 3px rgba(33, 34, 35, 0.13));
}

widget[type="ticket"] {
  width: 255px;
}

widget[type="ticket"] .top > div,
widget[type="ticket"] .bottom > div {
  padding: 0 18px;
}

widget[type="ticket"] .top > div:first-child,
widget[type="ticket"] .bottom > div:first-child {
  padding-top: 18px;
}

widget[type="ticket"] .top > div:last-child,
widget[type="ticket"] .bottom > div:last-child {
  padding-bottom: 18px;
}

widget[type="ticket"] .top img,
widget[type="ticket"] .bottom img {
  padding: 18px 0;
}

widget[type="ticket"] .top,
widget[type="ticket"] .bottom,
widget[type="ticket"] .rip {
  background-color: #fff;
}

widget[type="ticket"] .top {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

widget[type="ticket"] .top .deetz {
  padding-bottom: 10px !important;
}

widget[type="ticket"] .bottom {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 18px;
  padding-top: 10px;
  max-height: 97px;
}

widget[type="ticket"] .bottom svg {
  margin: 0 auto;
}

widget[type="ticket"] .bottom .barcode {
  max-height: 30px;
}

widget[type="ticket"] .bottom .buy {
  display: block;
  font-size: 12px;
  font-weight: bold;
  background-color: #5D9CEC;
  padding: 0 18px;
  line-height: 30px;
  border-radius: 15px;
  color: #fff;
  text-decoration: none;
}

widget[type="ticket"] .rip {
  height: 20px;
  margin: 0 10px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAACCAYAAAB7Xa1eAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAAaSURBVBhXY5g7f97/2XPn/AcCBmSMQ+I/AwB2eyNBlrqzUQAAAABJRU5ErkJggg==);
  background-size: 4px 2px;
  background-repeat: repeat-x;
  background-position: center;
  position: relative;
  box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff;
}

widget[type="ticket"] .rip:before, widget[type="ticket"] .rip:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border: 5px solid transparent;
  border-top-color: #fff;
  border-right-color: #fff;
  border-radius: 100%;
  pointer-events: none;
}

widget[type="ticket"] .rip:before {
  left: -10px;
}

widget[type="ticket"] .rip:after {
  transform: translate(-50%, -50%) rotate(225deg);
  right: -40px;
}

widget .-bold {
  font-weight: bold;
}

.disabled {
  opacity: .2;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
  cursor: none;
}

.profile .avatar {
  width: 120px;
  height: 120px;
  box-shadow: 0 3px 12px rgba(33, 44, 55, 0.14);
}

.profile .avatar img {
  width: 120px;
  height: 120px;
}

.searchbox {
  margin: 70px auto 30px !important;
  box-shadow: 0 5px 30px rgba(156, 160, 171, 0.25) !important;
}

.searchbox .icon {
  font-size: 20px;
  color: #666;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  position: relative;
}

.searchbox input[type="text"] {
  font-size: 18px !important;
  line-height: 24px !important;
  letter-spacing: undefined !important;
  padding-top: undefined !important;
  padding-bottom: undefined !important;
  color: #484848 !important;
  background-color: transparent !important;
  border: 0px !important;
  padding: 0 !important;
  width: 100% !important;
  font-weight: normal !important;
  text-overflow: ellipsis !important;
  outline: none;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  position: relative;
}
